#space
  font-family: "Roboto", sans-serif
  color: #FFFFFF

#todolist
  width: 500px
  margin: auto
  margin-top: 100px
  > div
      width: 100%

#addtodo-area
  height: 150px
  background: rgba(52, 152, 219, 0.6)

#todolist
  button:first-child
    background:#e91e63
    position: absolute
    top: 270px
    margin-left: 37%
    height: 60px
    width: 60px
    border-radius: 50%
    border: none
    outline: none
    > i
      color: white
      font-size: 30px

#footer
  font-size 15px
  display: flex
  align-content: space-around
  padding-top: 30px
  align-items: center
  > span
      padding-left: 10px

#footer
  > #filters
    display: inline-flex
    justify-content: space-around
    > li
      padding-left: 10px
      padding-right: 10px
      list-style: none

#clear-completed 
  background: none;
  color: inherit;
  font-size: inherit;
  border: none
  padding-left: 40px

#addtodo-area
 > input
     width: 80%
     height: 30px
     background: white
     margin-left: 10%
     margin-top: 30px
     border-radius: 3%

#listTask
      width:100%
      min-height:300px
      color:white
      margin-top: 0
      padding: 0
#listTask  
  li 
    width: inherit;
    padding: 1px 70px;
    margin: 0 0 2px;
    box-sizing: border-box;
    font-size:15px
    cursor:pointer
    background: #F498A5
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    #toggle
      margin-right: 15px
    p
      word-break: break-all
      flex: 1

    .close
      float: right;
      cursor: pointer;
      color: black;
      background: white;
      padding: 1px 5px;
      border-radius: 20px;
      font-size: 14px;


#title
  color:#e91e63
  font-weight:800
  font-size: 30px;
  margin-bottom: 20px;

